:root {
  /* Primary */
  /* intro and email sign up background */
  --darkBlue1: hsl(217, 28%, 15%);
  /* main background */
  --darkBlue2: hsl(218, 28%, 13%);
  /* footer background */
  --darkBlue3: hsl(216, 53%, 9%);
  /* testimonials background */
  --darkBlue4: hsl(219, 30%, 18%);

  /* Accent */
  /* inside call-to-action gradient */
  --cyan: hsl(176, 68%, 64%);
  /* inside call-to-action gradient */
  --blue: hsl(198, 60%, 50%);
  /* error */
  --lightRed: hsl(0, 100%, 63%);
  /* neutral */
  --white: hsl(0, 0%, 100%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  font-family: "Raleway", sans-serif;
  /* font-size: 14px; */
  background-color: var(--darkBlue2);
  color: var(--white);
}
.container {
  padding: 1.5rem 1.2rem 0;
  margin: 0 0 1.5rem;
}
.img {
  width: 100%;
  height: auto;
}
header {
  background-color: var(--darkBlue1);
  /* background: url("images/bg-curvy-mobile.svg") no-repeat bottom; */
  background-image: url("images/bg-curvy-mobile.svg");
  background-size: 140% 52%;
  background-repeat: no-repeat;
  background-position: top 40vh left -12vh;
}
header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  max-width: 88px;
  max-height: 26px;
}
ul {
  list-style-type: none;
}
ul li a {
  text-decoration: none;
  color: var(--white);
}
header .nav ul {
  display: flex;
  font-size: 14px;
}
header .nav ul li + li {
  margin-left: 0.5rem;
}
header .bg-curve {
  padding: 3rem 0.5rem;
  text-align: center;
}
header .heading {
  font-size: 1.5rem;
}
header .summary {
  font-size: 0.93rem;
  margin: 15px 0 18px;
}
.btn {
  border-radius: 2rem;
  padding: 1rem 1.5rem;
  color: var(--white);
  font-weight: 700;
  border: none;
  background-color: var(--blue);
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}
header .btn {
  width: 80%;
}
main {
  text-align: center;
}
main .blocks .img {
  max-width: 88px;
}
main .heading {
  font-size: 1.3rem;
}
main .summary {
  font-size: 1rem;
  margin: 1rem 0;
}
main .block + .block {
  margin-top: 5rem;
}
main .blockTwo {
  margin-top: 5rem;
}
.accessCard {
  background-color: var(--darkBlue1);
}
footer {
  background-color: var(--darkBlue3);
  color: white;
  padding-top: 9rem !important;
}
footer .logo {
  margin-bottom: 1rem;
}
.info div {
  display: flex;
}
.info div + div {
  margin-top: 1.5rem;
}
.info div img {
  width: auto;
  height: 100%;
  margin: 5px 20px 0 0;
}
.info div p,
.links {
  font-size: 1.1rem;
  line-height: 30px;
}
.links {
  margin: 3rem 0;
}
.links ul,
.social ul {
  list-style: none;
}
.links ul li a {
  color: white;
  text-decoration: unset;
}
.links ul li a:hover {
  color: var(--pink);
}
.links ul li + li {
  margin: 1.5rem 0 0;
}
.social ul {
  display: flex;
  justify-content: center;
}
.social ul li {
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.social ul li + li {
  margin-left: 1rem;
}
.social ul li:hover {
  border: 1px solid var(--pink);
  color: var(--pink);
  cursor: pointer;
}
